html {
    height:100%;
  }

body {

	font-size: 12px;
	font-family: sans-serif;
    /* background:#F5624D; */

    background:linear-gradient(#235E6F,#F5624D);
    /* background:linear-gradient( #235E6F,#F5624D); */
	/* background:linear-gradient( #235E6F,#0F8A5F); */
    background-repeat: no-repeat;
}
/* (#F5624D, #235E6F); */
/* (#CC231E, #F5624D) */



nav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}




h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 40px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.signature {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}
span {
    color: #2BD6B4;
}



.form_login {
text-align: center;
color: #e67e22;
position: absolute;
top: 50%;
left: 50%;
width: 400px;
padding: 40px;
transform: translate(-50%, -50%);
background: rgba(0,0,0,.5);
box-sizing: border-box;
box-shadow: 0 15px 25px rgba(0,0,0,.6);
border-radius: 10px;
}

.button_login{
box-shadow:inset 38px 33px 7px -19px #e67a73;
background-color:#e4685d;
border-radius:24px;
border:4px solid #ffffff;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Georgia;
font-size:19px;
padding:8px 42px;
text-decoration:none;
text-shadow:0px 1px 0px #b23e35;
}
.button_login:hover {
	background-color:#eb675e;
}
.button_login:active {
	position:relative;
	top:2px;
}


.imput_up{
    padding-bottom:20px;
    font-size: 16px;
}


.form_up {
    text-align: center;
    color: #e67e22;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    }
.button_up{
	box-shadow:inset 38px 33px 7px -19px #e67a73;
	background-color:#e4685d;
	border-radius:24px;
	border:4px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:19px;
	padding:8px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
    }
.button_up:hover {
	background-color:#eb675e;
    }
.button_up:active {
	position:relative;
	top:2px;
    }


.to_center{
	text-align:center;
	};
  