{% extends 'main/layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'data_view/style.css' %}" />
<h1>Visualize page</h1>

<!-- <button class = button_mail type="submit" method='POST' href ="{% url 'visualize' %}">
    Envoyer une copie des resultats
</button> -->

<!-- <button type="submit">
    test2a
    <a href ="{% url 'visualize' %}">test2b</a>
</button> -->

<!-- <a type="submit" href ="{% url 'visualize' %}" method='POST'>
    <button type="submit">
        test4a
    </button>
</a> -->

<!-- <form  method="post" action = "{% url 'visualize' %}">
    {% csrf_token %}
        <button class = button_up type="submit">
                test5
        </button>
</form> -->

<!-- <form method="post" action = "{% url 'visualize' %}" >
    {% csrf_token %}
        <button class = button_up type="submit">
                Upload
        </button>
</form> -->

<!-- <form action="{% url 'visualize' %}" method="POST">
    <input id="submit" type="button" value="Click" />
</form> -->


<p >
    <div class = "nb_biens">Il y a actuellement {{biens|length}} biens immobiliers</div>
    <div class = "nb_biens">Leur prix moyen est de {{mean_price}} €</div>
</p>

<!-- <div class= 'to_center'></div> -->

<div style = 'text-align:center'>
<a href ="{% url 'visualize_send_mail' %}">
    <button class = 'button_up' type="submit">
        Envoyer ces resultats par mail
    </button>
</a>
</div>


<p></p>


<table class="table_ville">

    <thead>    
        <tr>
            <th>Ville</th>
            <th>Prix Moyen</th>
            <th>Ecart type du prix</th>
        </tr>
    </thead>
    <tbody>
        {% for ville in villes %}
        <tr>
            <td>{{ville.name}}</td>
            <td>{{ville.avg_price}} €</td>
            <td>{{ville.std_deviation}} €</td>
        </tr>
        {% endfor %}
    </tbody>

</tabl>



{% endblock %}